* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

img {
  height: 100%;
  width: 100%;
}

:root {
  --ot-main: #e53170;
  --ot-accent: #58bbdc;
  --ot-dark: black;
  --ot-light: white;
}

h1 {
  color: var(--ot-main);
  font-weight: 800;
}

h3 {
  font-weight: 800;
  white-space: nowrap;
}

.email {
  color: var(--ot-accent);
  filter: brightness();
}
